@import "tailwindcss";

:root,:host {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-red-50: #fef2f2;
  --color-red-100: #ffe2e2;
  --color-red-200: #ffcaca;
  --color-red-300: #ffa3a3;
  --color-red-400: #ff6568;
  --color-red-500: #fb2c36;
  --color-red-600: #e40014;
  --color-red-700: #bf000f;
  --color-red-800: #9f0712;
  --color-red-900: #82181a;
  --color-red-950: #460809;
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #ffd7a8;
  --color-orange-300: #ffb96d;
  --color-orange-400: #ff8b1a;
  --color-orange-500: #fe6e00;
  --color-orange-600: #f05100;
  --color-orange-700: #c53c00;
  --color-orange-800: #9f2d00;
  --color-orange-900: #7e2a0c;
  --color-orange-950: #441306;
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c6;
  --color-amber-200: #fee685;
  --color-amber-300: #ffd236;
  --color-amber-400: #fcbb00;
  --color-amber-500: #f99c00;
  --color-amber-600: #dd7400;
  --color-amber-700: #b75000;
  --color-amber-800: #953d00;
  --color-amber-900: #7b3306;
  --color-amber-950: #461901;
  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c2;
  --color-yellow-200: #fff085;
  --color-yellow-300: #ffe02a;
  --color-yellow-400: #fac800;
  --color-yellow-500: #edb200;
  --color-yellow-600: #cd8900;
  --color-yellow-700: #a36100;
  --color-yellow-800: #874b00;
  --color-yellow-900: #733e0a;
  --color-yellow-950: #432004;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #b9f8cf;
  --color-green-300: #7bf1a8;
  --color-green-400: #05df72;
  --color-green-500: #00c758;
  --color-green-600: #00a544;
  --color-green-700: #008138;
  --color-green-800: #016630;
  --color-green-900: #0d542b;
  --color-green-950: #032e15;
  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d0fae5;
  --color-emerald-200: #a4f4cf;
  --color-emerald-300: #5ee9b5;
  --color-emerald-400: #00d294;
  --color-emerald-500: #00bb7f;
  --color-emerald-600: #009767;
  --color-emerald-700: #007956;
  --color-emerald-800: #005f46;
  --color-emerald-900: #004e3b;
  --color-emerald-950: #002c22;
  --color-sky-50: #f0f9ff;
  --color-sky-100: #dff2fe;
  --color-sky-200: #b8e6fe;
  --color-sky-300: #77d4ff;
  --color-sky-400: #00bcfe;
  --color-sky-500: #00a5ef;
  --color-sky-600: #0084cc;
  --color-sky-700: #0069a4;
  --color-sky-800: #005986;
  --color-sky-900: #024a70;
  --color-sky-950: #052f4a;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bedbff;
  --color-blue-300: #90c5ff;
  --color-blue-400: #54a2ff;
  --color-blue-500: #3080ff;
  --color-blue-600: #155dfc;
  --color-blue-700: #1447e6;
  --color-blue-800: #193cb8;
  --color-blue-900: #1c398e;
  --color-blue-950: #162456;
  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2ff;
  --color-indigo-300: #a4b3ff;
  --color-indigo-400: #7d87ff;
  --color-indigo-500: #625fff;
  --color-indigo-600: #4f39f6;
  --color-indigo-700: #432dd7;
  --color-indigo-800: #372aac;
  --color-indigo-900: #312c85;
  --color-indigo-950: #1e1a4d;
  --color-violet-700: #7008e7;
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d9b3ff;
  --color-purple-400: #c07eff;
  --color-purple-500: #ac4bff;
  --color-purple-600: #9810fa;
  --color-purple-700: #8200da;
  --color-purple-800: #6e11b0;
  --color-purple-900: #59168b;
  --color-purple-950: #3c0366;
  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #fae8ff;
  --color-fuchsia-200: #f6cfff;
  --color-fuchsia-300: #f2a9ff;
  --color-fuchsia-400: #ec6cff;
  --color-fuchsia-500: #e12afb;
  --color-fuchsia-600: #c600db;
  --color-fuchsia-700: #a600b5;
  --color-fuchsia-800: #8a0194;
  --color-fuchsia-900: #721378;
  --color-fuchsia-950: #4b004f;
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-pink-200: #fccee8;
  --color-pink-300: #fda5d5;
  --color-pink-400: #fb64b6;
  --color-pink-500: #f6339a;
  --color-pink-600: #e30076;
  --color-pink-700: #c4005c;
  --color-pink-800: #a2004c;
  --color-pink-900: #861043;
  --color-pink-950: #510424;
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #ffccd3;
  --color-rose-300: #ffa2ae;
  --color-rose-400: #ff667f;
  --color-rose-500: #ff2357;
  --color-rose-600: #e70044;
  --color-rose-700: #c20039;
  --color-rose-800: #a30037;
  --color-rose-900: #8b0836;
  --color-rose-950: #4d0218;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cad5e2;
  --color-slate-400: #90a1b9;
  --color-slate-500: #62748e;
  --color-slate-600: #45556c;
  --color-slate-700: #314158;
  --color-slate-800: #1d293d;
  --color-slate-900: #0f172b;
  --color-slate-950: #020618;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5dc;
  --color-gray-400: #99a1af;
  --color-gray-500: #6a7282;
  --color-gray-600: #4a5565;
  --color-gray-700: #364153;
  --color-gray-800: #1e2939;
  --color-gray-900: #101828;
  --color-gray-950: #030712;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-black: #000;
  --color-white: #fff;
  --spacing: .25rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-7xl: 80rem;
  --text-xs: calc(var(--spacing) * 3);
  --text-xs--line-height: calc(var(--spacing) * 4.5);
  --text-sm: calc(var(--spacing) * 3.5);
  --text-sm--line-height: calc(var(--spacing) * 5);
  --text-lg: calc(var(--spacing) * 4.5);
  --text-lg--line-height: calc(var(--spacing) * 7);
  --text-xl: calc(var(--spacing) * 5);
  --text-xl--line-height: calc(var(--spacing) * 7.5);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --tracking-tight: -.025em;
  --leading-snug: 1.375;
  --radius-xs: .125rem;
  --radius-sm: .25rem;
  --radius-md: .375rem;
  --radius-lg: .5rem;
  --radius-xl: .75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --shadow-xs: 0px 1px 2px #0000000d;
  --shadow-sm: 0px 1px 3px #0000001a, 0px 1px 2px -1px #0000001a;
  --shadow-md: 0px 4px 6px -1px #0000001a, 0px 2px 4px -2px #0000000f;
  --shadow-lg: 0px 12px 16px -4px #00000014, 0px 4px 6px -2px #00000008, 0px 2px 2px -1px #0000000a;
  --shadow-xl: 0px 20px 24px -4px #00000014, 0px 8px 8px -4px #00000008, 0px 3px 3px -1.5px #0000000a;
  --shadow-2xl: 0px 24px 48px -12px #0000002e, 0px 4px 4px -2px #0000000a;
  --drop-shadow-sm: 0 1px 2px #00000026;
  --ease-in: cubic-bezier(.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, .2, 1);
  --ease-in-out: cubic-bezier(.4, 0, .2, 1);
  --animate-spin: spin 1s linear infinite;
  --animate-bounce: bounce 1s infinite;
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-3xl: 64px;
  --aspect-video: 16 / 9;
  --default-transition-duration: .15s;
  --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --font-body: var(--font-inter,"Inter"), -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-display: var(--font-inter,"Inter"), -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --text-md: calc(var(--spacing) * 4);
  --text-md--line-height: calc(var(--spacing) * 6);
  --text-display-xs: calc(var(--spacing) * 6);
  --text-display-xs--line-height: calc(var(--spacing) * 8);
  --text-display-sm: calc(var(--spacing) * 7.5);
  --text-display-sm--line-height: calc(var(--spacing) * 9.5);
  --text-display-md: calc(var(--spacing) * 9);
  --text-display-md--line-height: calc(var(--spacing) * 11);
  --text-display-md--letter-spacing: -.72px;
  --text-display-lg: calc(var(--spacing) * 12);
  --text-display-lg--line-height: calc(var(--spacing) * 15);
  --text-display-lg--letter-spacing: -.96px;
  --text-display-xl: calc(var(--spacing) * 15);
  --text-display-xl--line-height: calc(var(--spacing) * 18);
  --text-display-xl--letter-spacing: -1.2px;
  --text-display-2xl: calc(var(--spacing) * 18);
  --text-display-2xl--line-height: calc(var(--spacing) * 22.5);
  --text-display-2xl--letter-spacing: -1.44px;
  --max-width-container: 1280px;
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 600px;
  --radius-none: 0px;
  --radius-DEFAULT: .25rem;
  --radius-full: 9999px;
  --shadow-3xl: 0px 32px 64px -12px #00000024, 0px 5px 5px -2.5px #0000000a;
  --shadow-skeuomorphic: 0px 0px 0px 1px #0000002e inset, 0px -2px 0px 0px #0000000d inset;
  --shadow-xs-skeuomorphic: var(--shadow-skeuomorphic), var(--shadow-xs);
  --shadow-modern-mockup-inner-lg: 0px 0px 3.765px 1.255px #0a0d1214 inset, 0px 0px 2.51px 1.255px #0a0d1208 inset;
  --shadow-modern-mockup-inner-md: 0px 0px 1.692px .564px #0a0d1214 inset, 0px 0px 1.128px .564px #0a0d1208 inset;
  --shadow-modern-mockup-inner-sm: 0px 0px 4.48px 1.493px #0a0d1214 inset, 0px 0px 2.987px 1.493px #0a0d1208 inset;
  --shadow-modern-mockup-outer-lg: 0px 7.529px 10.039px -2.51px #0a0d1214, 0px 2.51px 3.765px -1.255px #0a0d1208, 0px 1.255px 1.255px -.627px #0a0d120a;
  --shadow-modern-mockup-outer-md: 0px 3.385px 4.513px -1.128px #0a0d1214, 0px 1.128px 1.692px -.564px #0a0d1208, 0px .564px .564px -.282px #0a0d120a;
  --drop-shadow-iphone-mockup: 20px 12px 18px #10182833;
  --animate-marquee: marquee 60s linear infinite;
  --animate-caret-blink: caret-blink 1s infinite;
  --color-transparent: #0000;
  --color-alpha-white: #fff;
  --color-alpha-black: #000;
  --color-brand-25: var(--color-moss-25);
  --color-brand-50: var(--color-moss-50);
  --color-brand-100: var(--color-moss-100);
  --color-brand-200: var(--color-moss-200);
  --color-brand-300: var(--color-moss-300);
  --color-brand-400: var(--color-moss-400);
  --color-brand-500: var(--color-moss-500);
  --color-brand-600: var(--color-moss-600);
  --color-brand-700: var(--color-moss-700);
  --color-brand-800: var(--color-moss-800);
  --color-brand-900: var(--color-moss-900);
  --color-brand-950: var(--color-moss-950);
  --color-utility-blue-50: var(--color-blue-50);
  --color-utility-blue-100: var(--color-blue-100);
  --color-utility-blue-200: var(--color-blue-200);
  --color-utility-blue-300: var(--color-blue-300);
  --color-utility-blue-400: var(--color-blue-400);
  --color-utility-blue-500: var(--color-blue-500);
  --color-utility-blue-600: var(--color-blue-600);
  --color-utility-blue-700: var(--color-blue-700);
  --color-utility-brand-50: var(--color-brand-50);
  --color-utility-brand-50_alt: var(--color-brand-50);
  --color-utility-brand-100: var(--color-brand-100);
  --color-utility-brand-100_alt: var(--color-brand-100);
  --color-utility-brand-200: var(--color-brand-200);
  --color-utility-brand-200_alt: var(--color-brand-200);
  --color-utility-brand-300: var(--color-brand-300);
  --color-utility-brand-300_alt: var(--color-brand-300);
  --color-utility-brand-400: var(--color-brand-400);
  --color-utility-brand-400_alt: var(--color-brand-400);
  --color-utility-brand-500: var(--color-brand-500);
  --color-utility-brand-500_alt: var(--color-brand-500);
  --color-utility-brand-600: var(--color-brand-600);
  --color-utility-brand-600_alt: var(--color-brand-600);
  --color-utility-brand-700: var(--color-brand-700);
  --color-utility-brand-700_alt: var(--color-brand-700);
  --color-utility-brand-800: var(--color-brand-800);
  --color-utility-brand-800_alt: var(--color-brand-800);
  --color-utility-brand-900: var(--color-brand-900);
  --color-utility-brand-900_alt: var(--color-brand-900);
  --color-utility-neutral-50: var(--color-neutral-50);
  --color-utility-neutral-100: var(--color-neutral-100);
  --color-utility-neutral-200: var(--color-neutral-200);
  --color-utility-neutral-300: var(--color-neutral-300);
  --color-utility-neutral-400: var(--color-neutral-400);
  --color-utility-neutral-500: var(--color-neutral-500);
  --color-utility-neutral-600: var(--color-neutral-600);
  --color-utility-neutral-700: var(--color-neutral-700);
  --color-utility-neutral-800: var(--color-neutral-800);
  --color-utility-neutral-900: var(--color-neutral-900);
  --color-utility-red-50: var(--color-red-50);
  --color-utility-red-100: var(--color-red-100);
  --color-utility-red-200: var(--color-red-200);
  --color-utility-red-300: var(--color-red-300);
  --color-utility-red-400: var(--color-red-400);
  --color-utility-red-500: var(--color-red-500);
  --color-utility-red-600: var(--color-red-600);
  --color-utility-red-700: var(--color-red-700);
  --color-utility-yellow-50: var(--color-yellow-50);
  --color-utility-yellow-100: var(--color-yellow-100);
  --color-utility-yellow-200: var(--color-yellow-200);
  --color-utility-yellow-300: var(--color-yellow-300);
  --color-utility-yellow-400: var(--color-yellow-400);
  --color-utility-yellow-500: var(--color-yellow-500);
  --color-utility-yellow-600: var(--color-yellow-600);
  --color-utility-yellow-700: var(--color-yellow-700);
  --color-utility-green-50: var(--color-green-50);
  --color-utility-green-100: var(--color-green-100);
  --color-utility-green-200: var(--color-green-200);
  --color-utility-green-300: var(--color-green-300);
  --color-utility-green-400: var(--color-green-400);
  --color-utility-green-500: var(--color-green-500);
  --color-utility-green-600: var(--color-green-600);
  --color-utility-green-700: var(--color-green-700);
  --color-utility-orange-50: var(--color-orange-50);
  --color-utility-orange-100: var(--color-orange-100);
  --color-utility-orange-200: var(--color-orange-200);
  --color-utility-orange-300: var(--color-orange-300);
  --color-utility-orange-400: var(--color-orange-400);
  --color-utility-orange-500: var(--color-orange-500);
  --color-utility-orange-600: var(--color-orange-600);
  --color-utility-orange-700: var(--color-orange-700);
  --color-utility-indigo-50: var(--color-indigo-50);
  --color-utility-indigo-100: var(--color-indigo-100);
  --color-utility-indigo-200: var(--color-indigo-200);
  --color-utility-indigo-300: var(--color-indigo-300);
  --color-utility-indigo-400: var(--color-indigo-400);
  --color-utility-indigo-500: var(--color-indigo-500);
  --color-utility-indigo-600: var(--color-indigo-600);
  --color-utility-indigo-700: var(--color-indigo-700);
  --color-utility-fuchsia-50: var(--color-fuchsia-50);
  --color-utility-fuchsia-100: var(--color-fuchsia-100);
  --color-utility-fuchsia-200: var(--color-fuchsia-200);
  --color-utility-fuchsia-300: var(--color-fuchsia-300);
  --color-utility-fuchsia-400: var(--color-fuchsia-400);
  --color-utility-fuchsia-500: var(--color-fuchsia-500);
  --color-utility-fuchsia-600: var(--color-fuchsia-600);
  --color-utility-fuchsia-700: var(--color-fuchsia-700);
  --color-utility-pink-50: var(--color-pink-50);
  --color-utility-pink-100: var(--color-pink-100);
  --color-utility-pink-200: var(--color-pink-200);
  --color-utility-pink-300: var(--color-pink-300);
  --color-utility-pink-400: var(--color-pink-400);
  --color-utility-pink-500: var(--color-pink-500);
  --color-utility-pink-600: var(--color-pink-600);
  --color-utility-pink-700: var(--color-pink-700);
  --color-utility-purple-50: var(--color-purple-50);
  --color-utility-purple-100: var(--color-purple-100);
  --color-utility-purple-200: var(--color-purple-200);
  --color-utility-purple-300: var(--color-purple-300);
  --color-utility-purple-400: var(--color-purple-400);
  --color-utility-purple-500: var(--color-purple-500);
  --color-utility-purple-600: var(--color-purple-600);
  --color-utility-purple-700: var(--color-purple-700);
  --color-utility-sky-50: var(--color-sky-50);
  --color-utility-sky-100: var(--color-sky-100);
  --color-utility-sky-200: var(--color-sky-200);
  --color-utility-sky-300: var(--color-sky-300);
  --color-utility-sky-400: var(--color-sky-400);
  --color-utility-sky-500: var(--color-sky-500);
  --color-utility-sky-600: var(--color-sky-600);
  --color-utility-sky-700: var(--color-sky-700);
  --color-utility-slate-50: var(--color-slate-50);
  --color-utility-slate-100: var(--color-slate-100);
  --color-utility-slate-200: var(--color-slate-200);
  --color-utility-slate-300: var(--color-slate-300);
  --color-utility-slate-400: var(--color-slate-400);
  --color-utility-slate-500: var(--color-slate-500);
  --color-utility-slate-600: var(--color-slate-600);
  --color-utility-slate-700: var(--color-slate-700);
  --color-utility-emerald-50: var(--color-emerald-50);
  --color-utility-emerald-100: var(--color-emerald-100);
  --color-utility-emerald-200: var(--color-emerald-200);
  --color-utility-emerald-300: var(--color-emerald-300);
  --color-utility-emerald-400: var(--color-emerald-400);
  --color-utility-emerald-500: var(--color-emerald-500);
  --color-utility-emerald-600: var(--color-emerald-600);
  --color-utility-emerald-700: var(--color-emerald-700);
  --color-utility-amber-50: var(--color-amber-50);
  --color-utility-amber-100: var(--color-amber-100);
  --color-utility-amber-200: var(--color-amber-200);
  --color-utility-amber-300: var(--color-amber-300);
  --color-utility-amber-400: var(--color-amber-400);
  --color-utility-amber-500: var(--color-amber-500);
  --color-utility-amber-600: var(--color-amber-600);
  --color-utility-amber-700: var(--color-amber-700);
  --color-text-primary: var(--color-neutral-900);
  --color-text-tertiary: var(--color-neutral-600);
  --color-text-error-primary: var(--color-red-600);
  --color-text-warning-primary: var(--color-yellow-600);
  --color-text-success-primary: var(--color-green-600);
  --color-text-white: var(--color-white);
  --color-text-secondary: var(--color-neutral-700);
  --color-text-secondary_hover: var(--color-neutral-800);
  --color-text-tertiary_hover: var(--color-neutral-700);
  --color-text-brand-secondary: var(--color-brand-700);
  --color-text-placeholder: var(--color-neutral-500);
  --color-text-brand-tertiary: var(--color-brand-600);
  --color-text-editor-icon-fg: var(--color-neutral-400);
  --color-text-editor-icon-fg_active: var(--color-neutral-500);
  --color-text-quaternary: var(--color-neutral-500);
  --color-text-brand-primary: var(--color-brand-900);
  --color-text-primary_on-brand: var(--color-white);
  --color-text-secondary_on-brand: var(--color-brand-200);
  --color-text-tertiary_on-brand: var(--color-brand-200);
  --color-text-quaternary_on-brand: var(--color-brand-300);
  --color-text-brand-tertiary_alt: var(--color-brand-600);
  --color-text-error-primary_hover: var(--color-red-700);
  --color-text-brand-secondary_hover: var(--color-brand-800);
  --color-border-primary: var(--color-neutral-300);
  --color-border-secondary: var(--color-neutral-200);
  --color-border-secondary_alt: #0000001a;
  --color-border-tertiary: var(--color-neutral-100);
  --color-border-error: var(--color-red-500);
  --color-border-error_subtle: var(--color-red-300);
  --color-border-brand: var(--color-brand-500);
  --color-border-brand_alt: var(--color-brand-600);
  --color-fg-secondary: var(--color-neutral-700);
  --color-fg-warning-primary: var(--color-yellow-600);
  --color-fg-success-primary: var(--color-green-600);
  --color-fg-white: var(--color-white);
  --color-fg-success-secondary: var(--color-green-500);
  --color-fg-secondary_hover: var(--color-neutral-800);
  --color-fg-primary: var(--color-neutral-900);
  --color-fg-brand-secondary: var(--color-brand-500);
  --color-fg-brand-primary: var(--color-brand-600);
  --color-fg-quaternary: var(--color-neutral-400);
  --color-fg-quaternary_hover: var(--color-neutral-500);
  --color-fg-error-primary: var(--color-red-600);
  --color-fg-warning-secondary: var(--color-yellow-500);
  --color-fg-error-secondary: var(--color-red-500);
  --color-fg-tertiary: var(--color-neutral-600);
  --color-fg-tertiary_hover: var(--color-neutral-700);
  --color-fg-brand-primary_alt: var(--color-fg-brand-primary);
  --color-fg-brand-secondary_alt: var(--color-fg-brand-secondary);
  --color-fg-brand-secondary_hover: var(--color-brand-600);
  --color-bg-primary: var(--color-white);
  --color-bg-tertiary: var(--color-neutral-100);
  --color-bg-brand-primary: var(--color-brand-50);
  --color-bg-error-secondary: var(--color-red-100);
  --color-bg-warning-primary: var(--color-yellow-50);
  --color-bg-warning-secondary: var(--color-yellow-100);
  --color-bg-success-primary: var(--color-green-50);
  --color-bg-success-secondary: var(--color-green-100);
  --color-bg-brand-solid: var(--color-brand-600);
  --color-bg-secondary-solid: var(--color-neutral-600);
  --color-bg-error-solid: var(--color-red-600);
  --color-bg-warning-solid: var(--color-yellow-600);
  --color-bg-success-solid: var(--color-green-600);
  --color-bg-secondary_hover: var(--color-neutral-100);
  --color-bg-primary_hover: var(--color-neutral-50);
  --color-bg-active: var(--color-neutral-50);
  --color-bg-brand-solid_hover: var(--color-brand-700);
  --color-bg-error-primary: var(--color-red-50);
  --color-bg-brand-secondary: var(--color-brand-100);
  --color-bg-secondary: var(--color-neutral-50);
  --color-bg-quaternary: var(--color-neutral-200);
  --color-bg-primary_alt: var(--color-white);
  --color-bg-brand-primary_alt: var(--color-brand-50);
  --color-bg-secondary_alt: var(--color-neutral-50);
  --color-bg-overlay: var(--color-neutral-950);
  --color-bg-brand-section: var(--color-brand-800);
  --color-bg-brand-section_subtle: var(--color-brand-700);
  --color-bg-primary-solid: var(--color-neutral-950);
  --color-bg-error-solid_hover: var(--color-red-700);
  --color-app-store-badge-border: 166 166 166 1;
  --color-avatar-styles-bg-neutral: 224 224 224 1;
  --color-featured-icon-light-fg-brand: var(--color-brand-600);
  --color-featured-icon-light-fg-error: var(--color-red-600);
  --color-featured-icon-light-fg-gray: var(--color-neutral-500);
  --color-featured-icon-light-fg-success: var(--color-green-600);
  --color-featured-icon-light-fg-warning: var(--color-yellow-600);
  --color-focus-ring-error: var(--color-red-500);
  --color-focus-ring: var(--color-brand-500);
  --color-footer-button-fg: var(--color-brand-200);
  --color-footer-button-fg_hover: var(--color-white);
  --color-icon-fg-brand: var(--color-brand-600);
  --color-icon-fg-brand_on-brand: var(--color-brand-200);
  --color-screen-mockup-border: var(--color-neutral-900);
  --color-slider-handle-bg: var(--color-white);
  --color-slider-handle-border: var(--color-brand-600);
  --color-toggle-border: var(--color-neutral-300);
  --color-toggle-slim-border_pressed-hover: var(--color-bg-brand-solid_hover);
  --color-toggle-slim-border_pressed: var(--color-bg-brand-solid);
  --color-tooltip-supporting-text: var(--color-neutral-300);
  --background-color-primary: var(--color-bg-primary);
  --background-color-tertiary: var(--color-bg-tertiary);
  --background-color-brand-primary: var(--color-bg-brand-primary);
  --background-color-error-secondary: var(--color-bg-error-secondary);
  --background-color-warning-primary: var(--color-bg-warning-primary);
  --background-color-warning-secondary: var(--color-bg-warning-secondary);
  --background-color-success-primary: var(--color-bg-success-primary);
  --background-color-success-secondary: var(--color-bg-success-secondary);
  --background-color-brand-solid: var(--color-bg-brand-solid);
  --background-color-secondary-solid: var(--color-bg-secondary-solid);
  --background-color-error-solid: var(--color-bg-error-solid);
  --background-color-warning-solid: var(--color-bg-warning-solid);
  --background-color-success-solid: var(--color-bg-success-solid);
  --background-color-secondary_hover: var(--color-bg-secondary_hover);
  --background-color-primary_hover: var(--color-bg-primary_hover);
  --background-color-active: var(--color-bg-active);
  --background-color-brand-solid_hover: var(--color-bg-brand-solid_hover);
  --background-color-error-primary: var(--color-bg-error-primary);
  --background-color-brand-secondary: var(--color-bg-brand-secondary);
  --background-color-secondary: var(--color-bg-secondary);
  --background-color-quaternary: var(--color-bg-quaternary);
  --background-color-primary_alt: var(--color-bg-primary_alt);
  --background-color-brand-primary_alt: var(--color-bg-brand-primary_alt);
  --background-color-secondary_alt: var(--color-bg-secondary_alt);
  --background-color-overlay: var(--color-bg-overlay);
  --background-color-brand-section: var(--color-bg-brand-section);
  --background-color-brand-section_subtle: var(--color-bg-brand-section_subtle);
  --background-color-primary-solid: var(--color-bg-primary-solid);
  --background-color-error-solid_hover: var(--color-bg-error-solid_hover);
  --background-color-border-brand: var(--color-border-brand);
  --background-color-border-brand_alt: var(--color-border-brand_alt);
  --text-color-primary: var(--color-text-primary);
  --text-color-secondary: var(--color-text-secondary);
  --text-color-secondary_hover: var(--color-text-secondary_hover);
  --text-color-tertiary: var(--color-text-tertiary);
  --text-color-tertiary_hover: var(--color-text-tertiary_hover);
  --text-color-error-primary: var(--color-text-error-primary);
  --text-color-warning-primary: var(--color-text-warning-primary);
  --text-color-success-primary: var(--color-text-success-primary);
  --text-color-brand-secondary: var(--color-text-brand-secondary);
  --text-color-placeholder: var(--color-text-placeholder);
  --text-color-brand-tertiary: var(--color-text-brand-tertiary);
  --text-color-editor-icon-fg: var(--color-text-editor-icon-fg);
  --text-color-editor-icon-fg_active: var(--color-text-editor-icon-fg_active);
  --text-color-quaternary: var(--color-text-quaternary);
  --text-color-brand-primary: var(--color-text-brand-primary);
  --text-color-primary_on-brand: var(--color-text-primary_on-brand);
  --text-color-secondary_on-brand: var(--color-text-secondary_on-brand);
  --text-color-tertiary_on-brand: var(--color-text-tertiary_on-brand);
  --text-color-quaternary_on-brand: var(--color-text-quaternary_on-brand);
  --text-color-brand-tertiary_alt: var(--color-text-brand-tertiary_alt);
  --text-color-error-primary_hover: var(--color-text-error-primary_hover);
  --text-color-brand-secondary_hover: var(--color-text-brand-secondary_hover);
  --text-color-tooltip-supporting-text: var(--color-tooltip-supporting-text);
  --border-color-primary: var(--color-border-primary);
  --border-color-secondary: var(--color-border-secondary);
  --border-color-secondary_alt: var(--color-border-secondary_alt);
  --border-color-tertiary: var(--color-border-tertiary);
  --border-color-error: var(--color-border-error);
  --border-color-error_subtle: var(--color-border-error_subtle);
  --border-color-brand: var(--color-border-brand);
  --border-color-brand_alt: var(--color-border-brand_alt);
  --border-color-brand-solid: var(--color-bg-brand-solid);
  --border-color-brand-solid_hover: var(--color-bg-brand-solid_hover);
  --ring-color-primary: var(--color-border-primary);
  --ring-color-secondary: var(--color-border-secondary);
  --ring-color-secondary_alt: var(--color-border-secondary_alt);
  --ring-color-tertiary: var(--color-border-tertiary);
  --ring-color-error: var(--color-border-error);
  --ring-color-error_subtle: var(--color-border-error_subtle);
  --ring-color-brand: var(--color-border-brand);
  --ring-color-brand_alt: var(--color-border-brand_alt);
  --ring-color-brand-solid: var(--color-bg-brand-solid);
  --ring-color-brand-solid_hover: var(--color-bg-brand-solid_hover);
  --outline-color-primary: var(--color-border-primary);
  --outline-color-secondary: var(--color-border-secondary);
  --outline-color-secondary_alt: var(--color-border-secondary_alt);
  --outline-color-tertiary: var(--color-border-tertiary);
  --outline-color-error: var(--color-border-error);
  --outline-color-error_subtle: var(--color-border-error_subtle);
  --outline-color-brand: var(--color-border-brand);
  --outline-color-brand_alt: var(--color-border-brand_alt);
  --outline-color-brand-solid: var(--color-bg-brand-solid);
  --outline-color-brand-solid_hover: var(--color-bg-brand-solid_hover)
}

body{
    width: 100vw;
    height: 100vh;
    POSITION: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
